<!DOCTYPE html>
<html>
<head>
   <title> Try It Yourself </title>
   <style type="text/css">   
      #ul-circle {
         list-style-type: circle;
      }
      #ul-square {
         list-style-type: square;
      }
      #ol-upper-roman {
         list-style-type: upper-roman;
      }
      #ol-lower-alpha {
         list-style-type: lower-alpha;
      }
      /* removing bullets and/or numbers */
      #no-list-style-type {
         list-style-type: none;
      }
   </style>
</head>
<body>  
			
</head>
<body>   
   <ul>
      <li> Some data here. </li>
      <li> Some data here. </li>
      <li> Some data here. </li>
   </ul> 
   <ul id="ul-circle">
      <li> Some data here. </li>
      <li> Some data here. </li>
      <li> Some data here. </li>
   </ul>
   <ul id="ul-square">
      <li> Some data here. </li>
      <li> Some data here. </li>
      <li> Some data here. </li>
   </ul> 
   <ol id="ol-upper-roman">
      <li> Some data here. </li>
      <li> Some data here. </li>
      <li> Some data here. </li>
   </ol>
   <ol id="ol-lower-alpha">
      <li> Some data here. </li>
      <li> Some data here. </li>
      <li> Some data here. </li>
   </ol>
   <!-- No list style type unordered list. -->
   <ul id="no-list-style-type">
      <li> Some data here. </li>
      <li> Some data here. </li>
      <li> Some data here. </li>
   </ul>
   <!-- No list style type ordered list. -->
   <ol id="no-list-style-type">
      <li> Some data here. </li>
      <li> Some data here. </li>
      <li> Some data here. </li>
   </ol>
</body>
</html>
